.header {
  width: 13rem;
  height: 100vh;
  position: fixed;
  top: -1%;
  left: -1%;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(90deg, rgb(198, 206, 223), var(--color-bg));
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: -4rem;
}

.nav-list li {
  margin: 4rem 0;
}

.nav-link {
  color: var(--color-bg);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.nav-close {
  position: absolute;
  top: 3%;
  left: 75%;
  border: none;
  background: transparent;
  cursor: pointer;
}
.nav-close svg {
  font-size: 2rem;
  color: #fff;
}

.nav-toggle {
  position: absolute;
  top: 3%;
  left: 75%;
  cursor: pointer;
}
.nav-toggle button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
.nav-toggle svg {
  font-size: 2rem;
}

