.container {
  text-align: center;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: black;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: red;
}

.logo {
  justify-self: center;
  height: 5rem;
}

.links {
  margin-bottom: 2rem;
}
.links a {
  display: block;
  text-align: left;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: black;
  transition: all 0.5s ease;
}
.links a:hover {
  padding: 1rem 1.5rem;
  padding-left: 2rem;
  background: rgb(147, 147, 147);
  color: red;
}

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}