@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --header-height: 3rem;

  --color-bg: #1f1f38;
  --color-bg-alt: #2c2c6c;
  --color-pri: #4db5ff;
  --color-pri-alt: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);

};

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  color: #fff;
  line-height: 1.7;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h1,h2,h3,h4 {
  font-weight: 400;
}
h5 {
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

@media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.25rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
}