.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 50rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  transition: all .8s;
}

.content h3 {
  color: red;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.button-container {
  margin: 1.5rem 0;
  position: absolute;
  top: 100%;
  left: 43%;
}
.prev-btn,
.next-btn {
  color: rgb(255, 1, 1);
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: all 1s ease;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: rgb(252, 72, 72);
}

@media (max-width: 1024px) {
  .modal {
    width: 30rem;
    top: 20%;
    left: 25%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}